@font-face
{
    font-family: 'Mexcellent3D';
    src: url('fonts/Mexcellent3D.ttf');
}

#entire
{
    width: 1100px;
    height: auto;
    margin: auto;
    justify-content: center;
}

#body
{
    background-color: #fff;
    /* 8ecae6, 219ebc, 023047, ffb703, fb8500 */
    /* dd3c87, e467a2, ec93bc, f286d2, f7d4e4 */
}

#navbar
{
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 3px 5px #ccc; */

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    /* background-color: #dd3c87;
    width: 100%; */
}

#navbar a 
{
    text-decoration: none;
    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;

    display: block;
    color:#dd3c87;
    /* color:#fff; */
    /* border-bottom: 2px solid #777; */
}

#navbar ul
{
    list-style: none;
    margin: 0px;
    padding-top: 30px;
}

#navbar li
{
    /* background-color: #dd3c87; */
    width: auto;
    text-align: center;
    position: relative;
}

/* #navbar li:hover, #navbar a:hover
{
    background-color: #fc0;
} */

#navbar #selected-nav #navbar li:hover, #navbar a:hover
{
    /* background-color: #dd3c87; */
    /* border-bottom: 2px solid #023027; */
    color: #023027;
}

#navbar li:hover > ul
{
    display: inline;
}

#top-menu
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#top-menu ul
{
    display: none;
}

#sub-menu
{
    position: relative;
}

#sub-menu ul
{
    position: absolute;
    left: 150px;
    top: 0px;
}

#footer
{
    background-color: #dd3c87;
    color: #fff;
    height: 80px;
    line-height: 80px;
    text-align: center;

    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
}

#padding
{
    /* padding-top: 80px; */
}